table.form-table th {
  display: none;
}

table.form-table td {
  padding: 0;
}

.category-enhancements-container {
  width: 50%;
}

.category-enhancements {
  background-color: #fff;
  border-radius: 0px 10px 10px 10px;
  padding: 10px 20px 20px 20px;
}

.category-enhancements select {
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
}

.category-enhancements input {
  width: 100%;
  margin-top: 10px;
}

.category-enhancements textarea {
  width: 100%;
  margin-top: 10px;
}

.category-enhancements {
  margin-bottom: 10px;
}

.category-enhancements-title {
  font-weight: 600;
  text-align: center;
  border-bottom: 2px solid #F1F1F1;
  padding-bottom: 10px;
}

.add-remove-notice-enhancements, .add-remove-state-enhancements, .add-remove-price-enhancements {
  padding-top: 10px;
  text-align: right;
}

/* Tabs */
.category-enhancements-tabs {
  padding-bottom: 10px;
  margin-top: 10px;
}

.category-enhancements-tabs span {
  padding: 10px;
}

.category-enhancements-tabs span:hover, .category-enhancements-tabs span:focus {
  color: #333;
}

.category-enhancements-tabs a, .category-enhancements-tabs a:hover, .category-enhancements-tabs a:focus {
  text-decoration: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.notice-tab-border, .state-tab-border, .price-tab-border {
  border-top-left-radius: 10px;
}

.selected-enhancement {
  color: #333;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}