/* Global Begin */
table.form-table th {
  display: none;
}

table.form-table td {
  padding: 0;
}

.settings-container h2 {
  color: #333;
  display: block!important;
  text-transform: capitalize;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 20px;
  margin-bottom: 20px!important;
}

*:focus {
  outline: none!important;
  box-shadow: none!important;
}

.wrap h2 {
  display: none;
}

hr:last-child {
  display: none;
}

input#submit {
  background-color: #46BEA4;
  border-color: #46BEA4;
}
/* Global End */

/* Bootstrap Begin */
input, select {
  border-radius: 5px!important;
}

.input-group:not(:last-child) {
  margin-bottom: 1rem;
}

.bootstrap-wrapper {
  margin: 0 15px 0 15px;
  /* background-color: #fff; */
  /* border-radius: 25px; */
}

.credit {
  text-align: right;
}

.credit a {
  color: #46BEA4;
  text-decoration: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #46BEA4!important;
  border-color: #46BEA4!important;
}
/* Bootstrap End */

/* Topbar Begin */
.top-bar {
  color: #fff;
  background-color: #333;
  font-size: 16pt;
  padding: 5px 0 5px 10px;
  text-transform: uppercase;
}
/* Topbar End */

/* Tabs Begin */
.tabs {
  padding: 0px!important;
}

.tabs a.nav-link {
  font-size: 12pt;
  text-transform: uppercase;
  color: #333;
  border-top: 1px solid #e2e2e2;
  padding: 10px;
}

/* .tabs a.nav-link:last-child {
  border-bottom: 2px solid #333;
} */

/* .tabs a.nav-link.previous {
  color: #fff;
  background-color: #333;
} */

.nav-logo {
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
  padding: 12px 0;
}

.tabs a.nav-link.active {
  color: #46BEA4;
  background-color: #fff;
  border-left: 2px solid #46BEA4;
}

.tabs a.nav-link:hover {
  color: #46BEA4;
  background-color: #fff;
  border-left: 2px solid #46BEA4;
}
/* Tabs End */

/* Options Begin */
.options {
  /* margin: 20px 20px 0 0; */
  background-color: #fff;
  padding: 20px;
}
/* Options End */

/* Fields Begin */
.fields {
  background-color: #F0F0F1;
  padding: 15px;
}
/* Fields End */

/* Font-Awesome Begin */
.info {
  padding-left: 10px;
}

a.info {
  text-decoration: none!important;
  outline: none!important;
}

.info .fa {
  color: #46BEA4;
  font-size: 15pt;
}

.info .fa:hover {
  color: #333;
  font-size: 15pt;
}
/* Font-Awesome End */

/* Toast Begin */
.bootstrap-wrapper .toast {
  background-color: #fff!important;
}
/* Toast End */

/* Helper Begin */
.helper-sidebar {
  padding-top: 19px;
}

.helper-close .fas {
  color: #46BEA4!important;
  float: right;
}

.helper-close .fas:hover {
  color: #333!important;
}
/* Helper End */

/* Form Begin */
label.form-label {
  display: block!important;
  color: #46BEA4;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
  margin: 40px 0 10px 0;
  font-weight: 600;
}
/* Form End */

/* Validation Begin */
.invalid {
  border-color: #ff0000!important;
}
/* Validation End */
